@mixin TextShadow {
  text-shadow: -3px 3px 7px black;
}

.base-heading {
  gap: 10px;

  &__title {
    font-size: 40px;
    @include TextShadow;
  }

  &__desc {
    font-size: 20px;
    @include TextShadow;
  }
}

